/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: var(--jonin-color-text);
}

/* Styles */

:root {
  --jonin-color-black: #212121;
  --jonin-color-black-secondary: #323232;
  --jonin-color-main-darker: #0d7377;
  --jonin-color-main: #14ffec;
  --jonin-color-text: #ffffff;
  --jonin-color-info: #6ea8fe;
  --jonin-color-warning: #ffda6a;
  --jonin-color-danger: #ea868f;
  --jonin-color-success: #75b798;

  --jonin-fontsize-largest: 4.1875rem;
  --jonin-fontsize-larger: 3.125rem;
  --jonin-fontsize-large: 2.375rem;
  --jonin-fontsize-semilarge: 1.75rem;
  --jonin-fontsize-medium: 1.3125rem;
  --jonin-fontsize-regular: 1rem;
  --jonin-fontsize-small: 0.75rem;
  --jonin-fontsize-verysmall: 0.5625rem;

  --jonin-space-1: 0.25rem;
  --jonin-space-2: 0.5rem;
  --jonin-space-3: 1rem;
  --jonin-space-4: 2rem;
  --jonin-space-5: 3rem;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: var(--jonin-color-black);
  color: var(--jonin-color-text);
}

.container {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Nav */

.site-nav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.site-nav {
  border-bottom: 1px solid var(--jonin-color-black-secondary);
}

.site-title {
  font-size: var(--jonin-fontsize-semilarge);
  font-weight: bold;
  color: var(--jonin-color-black);
  background-color: var(--jonin-color-main);
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.site-nav__container,
.menu-items,
.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu {
  width: 100%;
}

.site-nav__container,
.menu-items {
  flex-direction: column;
}

.menu-item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.menu-toggler {
  display: block;
  cursor: pointer;
}

/* Hero */

.site-hero {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-hero__title {
  font-size: var(--jonin-fontsize-larger);
  font-weight: bold;
}

.site-hero__desc {
  font-size: var(--jonin-fontsize-semilarge);
}

.site-hero__buttons a {
  display: block;
}

.lightning-cool {
  display: none;
}

.site-hero__image-wrapper {
  height: 400px;
  width: 400px;
  max-height: 100%;
  max-width: 100%;
  background-color: var(--jonin-color-main);
  position: relative;
}

.site-hero__image {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site_profile__text {
  text-align: center;
  line-height: 1.5;
}

.project {
  display: flex;
  flex-direction: column;
}

.project__title {
  font-weight: bold;
  font-size: 1.2rem;
}

.project__desc {
  line-height: 1.5;
}

.project__img-wrapper {
  overflow: hidden;
  width: 100%;
  max-height: 400px;
  max-width: 550px;
  margin-right: 2rem;
  border-radius: 10px;
}

.project__img {
  object-fit: cover;
  width: 100%;
  object-position: top;
}

.footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--jonin-color-main);
  color: var(--jonin-color-black);
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-title {
  font-size: var(--jonin-fontsize-semilarge);
  font-weight: bold;
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: var(--jonin-color-black);
  background-color: var(--jonin-color-main);
  display: inline-block;
}

.section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.site-profile {
  position: relative;
}

.underground-text {
  position: absolute;
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.007);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  overflow: hidden;
  display: none;
}

.cta-button {
  display: inline-block;
  text-decoration: none;
  background-color: var(--jonin-color-black-secondary);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-shadow: 8px 8px var(--jonin-color-main);
}

.cta-button:hover {
  background-color: var(--jonin-color-main);
  box-shadow: 8px 8px var(--jonin-color-black-secondary);
  color: var(--jonin-color-black);
}

.cta-button--large {
  font-size: var(--jonin-fontsize-semilarge);
  padding-left: 2rem;
  padding-right: 2rem;
}

.cta-button_secondary {
  display: inline-block;
  font-size: var(--jonin-fontsize-semilarge);
}

.stack-title {
  font-weight: bold;
}

.stack-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.stack-item {
  text-align: center;
  font-weight: 500;
  padding: 0.5rem;
  border: 1px solid var(--jonin-color-main-darker);
  display: inline-block;
}

@media (min-width: 1400px) {
  .site-hero__buttons a {
    display: inline-block;
  }

  .underground-text {
    display: block;
  }

  /* Utils */
  .mb-xxl-0 {
    margin-bottom: 0 !important;
  }

  .mb-xxl-2 {
    margin-bottom: var(--jonin-space-2) !important;
  }

  .mb-xxl-3 {
    margin-bottom: var(--jonin-space-3) !important;
  }

  .mb-xxl-4 {
    margin-bottom: var(--jonin-space-4) !important;
  }

  .mb-xxl-5 {
    margin-bottom: var(--jonin-space-5) !important;
  }
}

@media (min-width: 1200px) {
  .project {
    flex-direction: row;
  }

  .mb-xl-0 {
    margin-bottom: 0 !important;
  }

  .mb-xl-2 {
    margin-bottom: var(--jonin-space-2) !important;
  }

  .mb-xl-3 {
    margin-bottom: var(--jonin-space-3) !important;
  }

  .mb-xl-4 {
    margin-bottom: var(--jonin-space-4) !important;
  }

  .mb-xl-5 {
    margin-bottom: var(--jonin-space-5) !important;
  }
}

@media (min-width: 992px) {
  /* Nav */
  .site-nav__container,
  .menu-items {
    flex-direction: row;
  }

  .menu-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  .menu-toggler {
    display: none;
  }

  .container {
    margin-left: 8.75rem;
    margin-right: 8.75rem;
  }

  /* Hero */

  .site-hero {
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
  }

  /* Footer */

  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  /* Utils */

  .mb-lg-0 {
    margin-bottom: 0 !important;
  }

  .mb-lg-2 {
    margin-bottom: var(--jonin-space-2) !important;
  }

  .mb-lg-3 {
    margin-bottom: var(--jonin-space-3) !important;
  }

  .mb-lg-4 {
    margin-bottom: var(--jonin-space-4) !important;
  }

  .mb-lg-5 {
    margin-bottom: var(--jonin-space-5) !important;
  }

  .pt-lg-0 {
    padding-top: 0 !important;
  }

  .pt-lg-2 {
    padding-top: var(--jonin-space-2) !important;
  }

  .pt-lg-3 {
    padding-top: var(--jonin-space-3) !important;
  }

  .pt-lg-4 {
    padding-top: var(--jonin-space-4) !important;
  }

  .pt-lg-5 {
    padding-top: var(--jonin-space-5);
  }

  .pb-lg-0 {
    padding-bottom: 0 !important;
  }

  .pb-lg-2 {
    padding-bottom: var(--jonin-space-2) !important;
  }

  .pb-lg-3 {
    padding-bottom: var(--jonin-space-3) !important;
  }

  .pb-lg-4 {
    padding-bottom: var(--jonin-space-4) !important;
  }

  .pb-lg-5 {
    padding-bottom: var(--jonin-space-5) !important;
  }

  .text-lg-start {
    text-align: start !important;
  }
}

@media (min-width: 576px) {
  .lightning-cool {
    display: inline;
  }
}

@media (min-width: 768px) {
  .site-hero__image {
    left: 38%;
  }
}

/* Utils */

.me-0 {
  margin-right: 0;
}

.me-1 {
  margin-right: var(--jonin-space-1);
}

.me-2 {
  margin-right: var(--jonin-space-2);
}

.me-3 {
  margin-right: var(--jonin-space-3);
}

.me-4 {
  margin-right: var(--jonin-space-4);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-2 {
  margin-bottom: var(--jonin-space-2);
}

.mb-3 {
  margin-bottom: var(--jonin-space-3);
}

.mb-4 {
  margin-bottom: var(--jonin-space-4);
}

.mb-5 {
  margin-bottom: var(--jonin-space-5);
}

.pt-0 {
  padding-top: 0;
}

.pt-2 {
  padding-top: var(--jonin-space-2);
}

.pt-3 {
  padding-top: var(--jonin-space-3);
}

.pt-4 {
  padding-top: var(--jonin-space-4);
}

.pt-5 {
  padding-top: var(--jonin-space-5);
}

.pb-0 {
  padding-bottom: 0;
}

.pb-2 {
  padding-bottom: var(--jonin-space-2);
}

.pb-3 {
  padding-bottom: var(--jonin-space-3);
}

.pb-4 {
  padding-bottom: var(--jonin-space-4);
}

.pb-5 {
  padding-bottom: var(--jonin-space-5);
}

.text-length {
  max-width: 37.5rem;
}

.text-center {
  text-align: center;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertically {
  display: flex;
  align-items: center;
}

.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nostyle-link {
  text-decoration: none;
  color: currentColor;
}
