html, body {
	scroll-padding-top:  55px;
}

body {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 200;
	position: relative;
	overflow-x: hidden
}

a {
	text-decoration: none !important;
	}

footer a {
	color: #6c757d !important;
}
}

a:hover {
	color: #343a40;
}

nav a.navbar-brand {
	font-family: "Tourney";	
/*	font-weight: 900;
*//*	font-style: bold;
*/	font-size: 2rem;
	text-transform: lowercase;
}

nav a.navbar-brand .opening-tag, nav a.navbar-brand .closing-tag {
	color: #66c9ff;
}



a.nav-link:hover, .show > .nav-link,
    .nav-link.active {
    	color: #f8f9fa !important;
    	border-radius: 5px;
    	background-color: #6c757d ;
    }
a.nav-link {
	transition: 0.4s;
}

a.nav-link:hover {

	    	margin: 0px 5px;
}

.nav-item a {
	font-size: 1.1em;
}
.jumbotron {
	background-color: #D2EFFF;
	padding: 2rem 1rem;
/* 	background-image: url("img/ihsan.png");
*/ 	}

 .jumbotron img {
	width: 230px;
 	margin: 30px auto;
 	  background-size: cover;
 	  border-radius: 20px;

 }	


 .jumbotron .lead {
 	margin-left: ;
 	margin-right: ;
 }
 .jumbotron .btn {
 	margin-top: 1rem;
 }

/*.about {
	img {
		height: 80% !important;
		position: absolute;
		z-index: 9999;
		top: 0;
	}
}
*/
h3 {
	display: block;
	padding: 10px;
	margin: auto;
	margin-bottom: 30px;
	width: 18rem;
	font-size: 1.5rem;

}

.about th {
	font-weight: 400 !important;
}

.col-md-3 #orang {
	border-radius: 0px 0px 100px 100px !important;
}

.specialization {
	background-color: #D2EFFF;
}

.specialization,.contact,.gallery,.about {
	padding: 2rem 1rem;
	box-sizing: border-box;
}


h3.specialization-title {
	margin-bottom: 50px !important;
}
.specialization-item {
	margin-bottom: 20px !important;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4rem;
  margin-bottom: 1rem;
  color: #fff;
  border-radius: .75rem;
  box-sizing: border-box;
}

.progress-bar {
	background-color: deepskyblue !important;
}

.specialization-things ul {
	list-style: url("img/specialization/check-square-fill.svg") !important;
}

/*.icon-spesialisasi {
	color: lightskyblue !important;
}*/
.bi-check-square-fill {
	color: mediumseagreen !important;
}

.gallery img {

width: 286px;
border-bottom: 1px solid lightgray;

}

.gallery .card-text {
	font-size: 0.8em;
}

.contact {
	background-color: #D2EFFF;
	padding: 2rem 1rem;

}

.contact .bi-facebook, .contact .bi-twitter, .contact .bi-youtube, .contact .bi-instagram {
	font-size: 2em;

}
.contact td {
	vertical-align: middle;
}

/*set media query*/

 @media only screen and (min-width: 760px)  {

.jumbotron img {
 	width: 530px;
 	margin: 30px auto;
 	background-size: cover;
 	position: absolute;
 	top: 40px;
 	right: -50px;
 }

 @media only screen and (min-width: 992px)  {

.jumbotron img {
 	width: 530px;
 	margin: 30px auto;
 	background-size: cover;
 	position: absolute;
 	top: 40px;
 	right: 30px;
 }
}

footer {
	font-size: 0.8rem;

}
